{% block main %}
    <script>
    $(function(){

        $('#add-cart-bottom').click(function() {
            $('#form1-bottom #mode').val('customentryform_add_cart');
        });

    });
    </script>

    <!-- ▼item_detail222▼ -->
    <div id="item_detail">
        <div id="detail_wrap" class="row">
            <!--★画像★-->
            <div id="item_photo_area" class="col-sm-6">
                <div id="detail_image_box__slides" class="slides">
                    {% if Product.ProductImage|length > 0 %}
                        {% for ProductImage in Product.ProductImage %}
                        <div id="detail_image_box__item--{{ loop.index }}"><img src="{{ app.config.image_save_urlpath }}/{{ ProductImage|no_image_product }}"/></div>
                        {% endfor %}
                    {% else %}
                        <div id="detail_image_box__item"><img src="{{ app.config.image_save_urlpath }}/{{ ''|no_image_product }}"/></div>
                    {% endif %}
                </div>
            </div>

            <section id="item_detail_area" class="col-sm-6">

                <!--★商品名★-->
                <!--★商品名★-->
                <h3 id="detail_description_box__name" class="item_name">{{ __EX_PRODUCT_MAKER.name }} {{ Product.name }}</h3>

                <div id="detail_description_box__body" class="item_detail">

                    {% if Product.ProductTag is not empty %}
                        <!--▼商品タグ-->
                        <div id="product_tag_box" class="product_tag">
                            {% for ProductTag in Product.ProductTag %}
                                <span id="product_tag_box__product_tag--{{ ProductTag.Tag.id }}" class="product_tag_list">{{ ProductTag.Tag }}</span>
                            {% endfor %}
                        </div>
                        <hr>
                        <!--▲商品タグ-->
                    {% endif %}


                    <!-- ▼料金▼ -->
                    <div class="payment-price-box js-payment-price-switch">
                    </div>
                    <p class="caution">※税抜き価格になります。</p>
                    <!-- ▲料金▲ -->

                    <!--▼商品コード-->
                    <!--▲商品コード-->

                    <!-- ▼関連カテゴリ▼ -->
                    <!-- ▲関連カテゴリ▲ -->

                    <form action="?" method="post" id="form1-bottom" name="form1">
                        <!--▼商品カラー-->
                        <div id="product_tag_box" class="product_tag">
                            {{ form_widget(form.product_color) }}
                        </div>
                        <!--▲商品カラー-->


                        <!--▼買い物かご-->
                        <div id="detail_cart_box" class="cart_area">
                            {% if Product.stock_find %}

                                {# 規格 #}
                                {% if form.classcategory_id1 is defined %}
                                <ul id="detail_cart_box__cart_class_category_id" class="classcategory_list">
                                    {# 規格1 #}
                                    <li style="display:none">
                                        {{ form_label(form.classcategory_id1) }}
                                        {{ form_widget(form.classcategory_id1) }}
                                        {{ form_errors(form.classcategory_id1) }}
                                    </li>
                                    
                                    {# 規格2 #}
                                    {% if form.classcategory_id2 is defined %}
                                    {# 規格2 #}
                                        <li style="display:none">
                                            {{ form_label(form.classcategory_id2) }}
                                            {{ form_widget(form.classcategory_id2) }}
                                            {{ form_errors(form.classcategory_id2) }}
                                        </li>

                                        <li>
                                            {{ form_label(form.product_class_id) }}
                                            {{ form_widget(form.product_class_id) }}
                                            {{ form_errors(form.product_class_id) }}
                                        </li>

                                        
                                     {% endif %}
                                </ul>
                                {% endif %}

                                {# 数量 #}
                                <dl id="detail_cart_box__cart_quantity" class="quantity" style="display:none">
                                    <dt>数量</dt>
                                    <dd>
                                        {{ form_widget(form.quantity) }}
                                        {{ form_errors(form.quantity) }}
                                    </dd>
                                </dl>

                                <div class="extra-form">
                                    {% for f in form.getIterator %}
                                        {% if f.vars.name matches '[^plg*]' %}
                                            {{ form_row(f) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                {# カートボタン #}
                                <div id="detail_cart_box__button_area" class="btn_area">
                                    <ul id="detail_cart_box__insert_button" class="row">
                                        <li class="col-xs-12 col-sm-8">
                                            {% if pel_ProductMaker.disabled or pel_ProductMaker is null %}
                                            <button type="submit" id="add-cart-bottom" class="btn btn-primary btn-block prevention-btn prevention-mask">この商品を申し込む</button>{% endif %}</li>
                                    </ul>
                                </div>
                            {% else %}
                                {# 在庫がない場合は品切れボタンのみ表示 #}
                                <div id="detail_cart_box__button_area" class="btn_area">
                                    <ul class="row">
                                        <li class="col-xs-12 col-sm-8"><button type="button" class="btn btn-default btn-block" disabled="disabled">ただいま品切れ中です</button></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <!--▲買い物かご-->
                        {{ form_rest(form) }}
                    </form>
                    <ul class="row">
                    <li class="col-xs-12 col-sm-8">
                        <!--# pel-plugin-other-url-tag #-->
                    </li>
                    </ul>

                    <!--★商品説明★-->
                    <p id="detail_not_stock_box__description_detail" class="item_comment">{{ Product.description_detail|raw|nl2br }}</p>

                </div>
                <!-- /.item_detail -->

            </section>
            <!--詳細ここまで-->


        </div>




        {# フリーエリア #}
        {% if Product.freearea %}
        <div id="sub_area" class="row">
            <div class="col-sm-10">
                <div id="detail_free_box__freearea" class="freearea">{{ include(template_from_string(Product.freearea)) }}</div>
            </div>
        </div>
        {% endif %}



    </div>
    <!-- ▲item_detail222▲ -->

{% endblock %}
